Getting Started with Python Fundamentals:B30

In [ ]:
Understanding the variables in Python: If we kept # at the begining then it will be converted to comment

In [3]:
x=10
y=15

In [4]:
x+y

25

In [5]:
x-y

-5

In [6]:
x*y

150

In [ ]:
Rules for declaring the variables. we have 3 rules

In [ ]:
Rule No:1 NO Name spaces while declaring the variable name.

In [ ]:
Example:

In [8]:
First Name="raja"   #invalid declaration
print (First Name)

SyntaxError: invalid syntax (<ipython-input-8-f39d6ea8f5b5>, line 1)

In [10]:
FirstName="raja" #valid declaration
print (FirstName)

raja

In [11]:
first_name="raja" #valid declaration
print (first_name)

raja

In [ ]:
Rule No:2 Variable name should not start with a number. **

In [12]:
1name='shyam'
print(1name)

SyntaxError: invalid syntax (<ipython-input-12-6e4f7fe8dd96>, line 1)

In [13]:
name1='shyam'
print (name1)

shyam

In [ ]:
Rule No3: Variable name should not contain any special chracters like @$% etc

In [14]:
name@='shyam'
print(name@)

SyntaxError: invalid syntax (<ipython-input-14-d2fc7d7c65ac>, line 2)

In [15]:
@name='shyam'
print (@name)

SyntaxError: invalid syntax (<ipython-input-15-df384305dd25>, line 1)

In [ ]:
Introduction to data types in python

In [ ]:
1.String
2.Numbers (integers and decimals)
3.list
4.tuple
5.dictionaries

In [ ]:
Classediification of datatypes in python:
    1.Mutable datatypes
    2.Immutable datatypes

Mutable Datatypes:where we are able to edit or alter datatypes that has beeen assigned
Immutable Datatypes:where we are not able to edit or alter datatypes that has been assigned

In [ ]:
Interview question:difference between mutable and immutable datatypes

In [ ]:
Introduction to string data types:

In [ ]:
Definition:A string is nothing but a series of chracters that been enclosed in quotes

classification:A string is classified as an immutable datatype.

how do you define a string?

a string can be defined in 3 possible ways.

    single quotes
    double quotes
    triple quotes

In [16]:
name='rajesh'
print (name)

rajesh

In [17]:
name2="suresh"
print (name2)

suresh

In [18]:
name3="""sekhar"""
print (name3)

sekhar

In [ ]:
Note:Python is a case sensitive language